<h2> Send a new text!</h2>
<%= form_for @text, :remote => true do |f| %>
<div class="form-group">
    <% Recipient.all.each do |recipient| %>
        <%= check_box_tag "text[recipient_ids][]", recipient.id, @text.recipient_ids.include?(recipient.id), id: dom_id(recipient) %>
        <%= label_tag dom_id(recipient), recipient.name %>
    <% end %>

    <div class="form-group">
    <%= f.hidden_field :from, :value => '5034054073' %>
    </div>
    <div class="form-group">
      <%= f.label :Text_Message %>
      <%= f.text_field :body, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit(:class => "btn btn-primary") %>
    </div>
    <% end %>
</div>
